<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>menupics/arm.png</key>
		<dict>
			<key>frame</key>
			<string>{{3783, 765}, {380, 254}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {380, 254}}</string>
			<key>sourceSize</key>
			<string>{380, 254}</string>
		</dict>
		<key>menupics/back button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 783}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>menupics/back.png</key>
		<dict>
			<key>frame</key>
			<string>{{3783, 1147}, {240, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {240, 160}}</string>
			<key>sourceSize</key>
			<string>{240, 160}</string>
		</dict>
		<key>menupics/backred.png</key>
		<dict>
			<key>frame</key>
			<string>{{613, 3347}, {600, 600}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {600, 600}}</string>
			<key>sourceSize</key>
			<string>{600, 600}</string>
		</dict>
		<key>menupics/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3347}, {668, 610}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {668, 610}}</string>
			<key>sourceSize</key>
			<string>{668, 610}</string>
		</dict>
		<key>menupics/feild2big.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 783}, {380, 126}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {380, 126}}</string>
			<key>sourceSize</key>
			<string>{380, 126}</string>
		</dict>
		<key>menupics/football2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3783, 1471}, {218, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {218, 192}}</string>
			<key>sourceSize</key>
			<string>{218, 192}</string>
		</dict>
		<key>menupics/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{3783, 1665}, {380, 214}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {380, 214}}</string>
			<key>sourceSize</key>
			<string>{380, 214}</string>
		</dict>
		<key>menupics/hills.png</key>
		<dict>
			<key>frame</key>
			<string>{{3917, 2047}, {380, 126}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {380, 126}}</string>
			<key>sourceSize</key>
			<string>{380, 126}</string>
		</dict>
		<key>menupics/level select.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2065}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>menupics/menubackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2498, 780}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2498, 780}}</string>
			<key>sourceSize</key>
			<string>{2498, 780}</string>
		</dict>
		<key>menupics/player2_0noarm.png</key>
		<dict>
			<key>frame</key>
			<string>{{3783, 1}, {286, 380}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {286, 380}}</string>
			<key>sourceSize</key>
			<string>{286, 380}</string>
		</dict>
		<key>menupics/player_passparttwo-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3783, 383}, {380, 270}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {380, 270}}</string>
			<key>sourceSize</key>
			<string>{380, 270}</string>
		</dict>
		<key>menupics/settings.png</key>
		<dict>
			<key>frame</key>
			<string>{{3783, 1309}, {240, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {240, 160}}</string>
			<key>sourceSize</key>
			<string>{240, 160}</string>
		</dict>
		<key>menupics/start button .png</key>
		<dict>
			<key>frame</key>
			<string>{{2501, 1}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>menupics/startbutton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3783, 2047}, {380, 132}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {380, 132}}</string>
			<key>sourceSize</key>
			<string>{380, 132}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{8192, 4096}</string>
		<key>textureFileName</key>
		<string>menupics.png</string>
	</dict>
</dict>
</plist>
